//@import "./styles/colors.scss";

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 21px;
  padding-top: 2px;
  color: white;
  }

.icona-cibando {
  width: 60px;
  margin-right: 5px;
  }

.nav-item{
  margin-right: 10px;
}
