form{
    width: 100%;
    height: 50%;
}

.principale {
  width: 40%;
  border-radius: 10%;
  text-align: center;
  margin-left: 30%;
  margin-top: 10px;
  height: 87%;
  padding-top: 20px;
  border: 10px solid #8e210b;
}

h3{
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
    margin-top: 10px;
}

.title {
  color: #8e210b;
  font-size: xx-large;
  font-family: ui-serif;
}

.credenziali{
  margin-top:10px;
}
.form-label{
  color: black;
}

.form-control{
    width: 60%;
    text-align: center;
    margin-left: 20%;
}




button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 20px;
  border: 2.5px solid black;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #8e210b;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  margin-top: 30px;
}



button:active {
  transform: scale(0.95);
}
