
<!-- Footer -->
<footer class="bg-red text-center text-white">
  <!-- Grid container -->
  <div class="container-fluid">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://it-it.facebook.com/" target="_blank" role="button"><i class="bi bi-facebook"></i></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=it" role="button"><i class="bi bi-twitter"></i></a>

      <!-- Google -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"><i class="bi bi-google"></i></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://it.linkedin.com/" role="button"><i class="bi bi-linkedin"></i ></a>

      <!-- Github -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/" role="button"><i class="bi bi-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <img src= "../assets/images/icona-cibando.png" class="icona-cibando">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">

            <li>
              <a class="nav-link active" aria-current="page" href="#"><mat-icon class="align-self-center">home</mat-icon>  Home</a>
            </li>
            <li>

        <a class="nav-link active" aria-current="page" href="#"> <mat-icon class="align-self-center">restaurant_menu</mat-icon> Ricette</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="nav-link active" aria-current="page" href="#"><mat-icon class="align-self-center">contacts</mat-icon> Contatti</a>
            </li>
            <li>
              <a href="#!" class="text-white"> <mat-icon> contact_phone</mat-icon> 800.800.052</a>
            </li>
            <li>
              <a href="#!" class="text-white"> <mat-icon> email</mat-icon> cibando12@pec.it</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a >Cibando</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
