// .button{
//   background-color: #8e210b;
// }

// p.help.is-danger{
//   margin-top: 13px;
//   color: rgb(191, 27, 27);
//   font-size: 12px;
//   font-weight: 600;
// }



// .check{
//   height: 50px;
//   width: 70%;
//   flex-direction: column;
//   margin-top: 4px;
// }


input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid rgb(7, 216, 7);
}

.colonna-dx{
  background-image: url("../../../../assets/images/cibandoFotoRegistrati1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:  0px 25px 25px 0px;
}
.p-md-5 {
  padding: 1rem !important;
}

.btn{
  background-color: #8e210b !important;
  border: none !important;
}

p.help.is-danger{
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.check{
  height: 50px;
  width: 70%;
  flex-direction: column;
  margin-top: 4px;
}

.icone{
  text-align: center;
  font-size: 25px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: white;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 1.5;
}

.modal-header{
  background-color: #8e210b ;
}

.modal-footer {
  background-color: #8e210b;

  .btn-modal {

    color: black;
    font-weight: 700;
    border: 2px solid black;
    margin-left: 0.5rem;
  }
}


